body{
  background-image: url("../imgs/login.png");
}
.welcome{
  color:white;
  font-family: "Abel", sans-serif;
  font-size:2rem;
  align-self: flex-start;
  
}
.name{
  color:white;
  font-family: "Electrolize", sans-serif;
  font-size:4rem;
}
.whole-container{
  height:75vh;
  flex-direction: row;
  margin-top:6rem;
}
.text-container{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vertical-line{
  width:1px;
  height:30vh;
  background-color: rgb(137, 137, 137);
}
.sign-in-title{
  color:white;
  font-weight: bolder;
}

.login-container{
  width:70%;

  background-color: #0F0F0F;
  border:solid;
  border-color: white;
  border-radius: 40px;
  border-width: 1px;
  gap:2rem;
  padding-block: 2rem;
}
.login-password-input:hover::placeholder{
  transform: translateX(5px);
}
.login-email-input:hover::placeholder {
    transform: translateX(5px);
}
.login-password-input,
.login-email-input{
  color:white;
  width:70%;
  align-self: center;
  background-color: #0F0F0F;
  border:solid;
  border-color: white;
  border-radius: 12px;
  border-width: 1px;
  padding:1rem;
  outline: none;
}
.sign-in-button:hover{
  color:white;
  background-color: black;
  border:solid;
  border-color:white;
  border-width:2px;
  transition: border-color 0.3s,color 0.3s,border 0.3s, background-color 0.3s;
}
.sign-in-button{
  width:6rem;
  height:2.5rem;
  align-self: center;

  border:none;
  border-radius: 6px;
}
.sign-up-paragraph{
  color:white;
  font-weight: bolder;
}
.sign-up-button:hover{
  opacity: 0.8;
}
.sign-up-button{
  color:#727EF9;
  text-decoration: none;
}
.not-valid{
  color:red;
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader{
  background-color:transparent;
  border:solid;
  border-color:#303030;
  border-top-color:#9B9B9B;
  border-radius:100px;
  border-width:2.5px;
  width:1rem;
  height:1rem;

  animation: spin 2s linear 0s infinite;
}

/*
  keyframe code for the loader 
*/

 @keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}









@media(max-width:576px){
  body{
  padding-bottom:12rem;
  }
  .name{
    font-size:2.3rem;
  }
  .login-container{
    width:100%;
    padding-block:3rem;
    
  }
  .welcome{
    font-size:2rem
  }
  .login-password-input,
  .login-email-input{
    width:75%;
  }
  .sign-up-paragraph{
    font-size:80%;
  }
  .sign-in-button{
    color:black;
  }
}
@media(max-width:992px) {
  .whole-container{
    flex-direction: column;
  }
  .welcome,.name{
    text-align:center;
  }
}
@media(max-height:545px){
  .login-container{
    gap: 1rem;
  }
}