body{
  background-image: url("../imgs/signup-desktop.png");
}
.signup-container{
  width:40%;

  background-color: #0F0F0F;
  border:solid;
  border-color: white;
  border-radius: 40px;
  border-width: 1px;
  gap:2rem;
  padding-block: 2rem;
}
.sign-in-title{
  color:white;
  font-weight: bolder;
}
.signup-name-input:hover::placeholder{
  transform: translateX(5px);
}
.signup-password-input:hover::placeholder{
  transform: translateX(5px);
}
.signup-email-input:hover::placeholder{
  transform: translateX(5px);
}

.signup-name-input,
.signup-password-input,
.signup-email-input{
  color:white;
  width:70%;
  align-self: center;
  background-color: #0F0F0F;
  border:solid;
  border-color: white;
  border-radius: 12px;
  border-width: 1px;
  padding:1rem;
  outline: none;
}

.sign-up-button:hover{
  color:white;
  background-color: black;
  border:solid;
  border-color:white;
  border-width:2px;
  transition: border-color 0.3s,color 0.3s,border 0.3s, background-color 0.3s;
}
.sign-up-button{
  width:6rem;
  height:2.5rem;
  align-self: center;

  border:none;
  border-radius: 6px;
}
.sign-in-button:hover{
  opacity: 0.8;
}
.sign-in-button{
  color:#727EF9;
  text-decoration: none;
}
.sign-in-paragraph{
  color:white;
  font-weight: bolder;
}
.not-valid{
  color:red;
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader{
  background-color:transparent;
  border:solid;
  border-color:#303030;
  border-top-color:#9B9B9B;
  border-radius:100px;
  border-width:2.5px;
  width:1rem;
  height:1rem;

  animation: spin 2s linear 0s infinite;
}
.valid{
  color:greenyellow;
}

/*
  keyframe code for the loader 
*/

 @keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}









@media(max-width:992px){
  .signup-container{
    width:70%;
  }
}
@media(max-width:576px){
  .signup-container{
    width:100%;
    border-radius: 22px;
    padding-block:3rem;
    
  }
  .signup-password-input,
  .signup-email-input{
    width:75%;
    border-radius: 0;
  }
  .sign-in-button{
    color:black;
  }
  .sign-in-paragraph{
    font-size:80%;
  }
}

@media(max-height:545px){
  .signup-container{
    gap: 1rem;
  }
}